﻿body
{
	border-style: none;
	background-color: White;
	color: black;
	font-family: 'courier','courier new', 'courier cyr','courier new cyr';
	margin: 0px;
}

a:link    { text-decoration: none; color: #505000; }
a:visited { text-decoration: none; color: #909090; }
a:hover   { text-decoration: underline; color: #B0B0B0; }

a.t:link    { text-decoration: none; color: #000000; }
a.t:visited { text-decoration: none; color: #000000; }
a.t:hover   { text-decoration: underline; color: #000000; }

a.m:link    { text-decoration: underline; color: #505000; }
a.m:visited { text-decoration: underline; color: #909090; }
a.m:hover   { text-decoration: underline; color: #B0B0B0; }

a.media
{
	border-bottom  : dotted 1px #505000;
	text-decoration: none !important;
}

a.media:link    { border-color: #505000; }
a.media:visited { border-color: #909090; }
a.media:hover   { border-bottom: solid 1px #B0B0B0; }

td.s
{
	color: #888888;
	background-color:#E0F0E0;
	font-family:verdana;
	font-weight:bold;
	padding: 1px 5px;
}

td.m
{
	font-family: verdana, tahoma, helvetica, arial;
	background-color: #FFFFFF;
	padding: 5px 10px 5px 10px;
}

td.pvw
{
	border:1px solid #BFD8C4; font-family: verdana, tahoma, helvetica, arial;
	background-color: #FFFFFF;
	padding: 5px 10px 5px 10px;
}

td.o
{
	background-color: #FFFFFF;
	font-family: verdana, tahoma, helvetica, arial;
	color: gray;
	padding: 5px 10px 5px 10px;
}

td.l
{
	font-family: verdana, tahoma, helvetica, arial;
	background-color: #F4FFF4;
	padding: 0px 5px;
	vertical-align: super;
}

td.lm
{
	background-color: #F4FFF4;
	padding: 0px 0px;
	width: 32px;
}

td.lp
{
	background-color: #F4FFF4;
	padding: 0px 0px;
	width: 32px;
	cursor: pointer;
}

td.li
{
	background-color: #F4FFF4;
	padding: 0px 0px;
}

td.i
{
	font-family: verdana, tahoma, helvetica, arial;
	background-color: #FFFFF4;
	padding: 1px 5px;
}

td.i2
{
	font-family: verdana, tahoma, helvetica, arial;
	background-color: #FFFFF4;
	padding: 1px 5px;
	color: Gray;
}

.tx
{
	font-family: verdana, tahoma, helvetica, arial;
	color: #003000;
}

img.i
{
	border-width: 0px;
	width: 18px;
	height: 14px;
}

img.i2
{
	border-width: 0px;
	width: 18px;
	height: 14px;
}

img.t
{
	border-width: 0px;
	width: 32px;
	height: 16px;
}

img.s
{
	border-width: 0px;
}

pre
{
	font-family: 'consolas', 'courier','courier new', 'courier cyr','courier new cyr';
	font-size: 12px;
	margin: 0px;
	padding: 10px;
}

td.c
{
	font-family: 'courier','courier new', 'courier cyr','courier new cyr';
	background-color: #EEEEEE;
	color: black;
	margin: 0px;
	padding: 0px 0px;
}

td.copyCode a:link    { text-decoration: none; color: navy; }
td.copyCode a:visited { text-decoration: none; color: navy; }
td.copyCode a:hover   { text-decoration: none; color: navy; }

td.copyCode
{
    margin:           0;
    padding:          2px 2px 2px 10px;
    background-color: rgb(239, 239, 247);
    font-size:        8pt;
    font-family:      Arial;
    border-bottom:    rgb(200, 205, 222) 1px solid;
}

p1
{
	margin:0;
}

td.th
{
	color: #000000;
	background-color:#E0F0E0;
	font-family:verdana;
	font-weight:bold;
	padding: 0px 5px;
}

td.the
{
	color: #000000;
	background-color:#E0F0E0;
	font-family:verdana;
	font-weight:bold;
	padding: 2px 5px;
	font-size: 13px;
}

td.t
{
	color: #000000;
	background-color: #E8F8E8;
	font-family: verdana, tahoma, helvetica, arial;
	padding: 0px 5px;
	font-size: 12px;
}

.nml
{
	color:#444444;
	background-color:#E8F8E8;
	padding: 0px 5px 0px 5px;
	font-family: verdana, tahoma, helvetica, arial;
	font-size: 12px;
}

.nm
{
	color:#444444;
	background-color:#E8F8E8;
	padding: 0px 5px 0px 5px;
	font-size: 14px;
}

input.nm
{
	border:1px solid #BFD8C4; background-color: #F4FFF4
}

textarea.nm
{
	width: 99%;
	border-width: 1px;
	border-color:#BFD8C4;
	font-family: 'courier','courier new','courier cyr','courier new cyr';
	background-color: #F4FFF4;
}

.nmb
{
	border:1px solid #BFD8C4; background-color: #E4F4E8;
	cursor: pointer;
	
}

div.m
{
	font-family: verdana, tahoma, helvetica, arial;
	background-color: #FFFFFF;
	padding: 5px 10px 5px 10px;
	font-size: x-small;
}

div.o
{
	background-color: #FFFFFF;
	font-family: verdana, tahoma, helvetica, arial;
	color: Gray;
	padding: 5px 10px 5px 10px;
	font-size: x-small;
}

div.q, blockquote.q
{
	background-color: #FFFFE7;
	font-family: verdana, tahoma, helvetica, arial;
	margin: 0px;
	padding: 5px 10px 5px 10px;
}

div.mod
{
	padding-right: 5px;
	padding-left: 5px;
	font-size: xx-small;
	padding-bottom: 2px;
	color: #800000;
	padding-top: 2px;
	font-family: verdana, tahoma, helvetica, arial;
	background-color: #ffcccc;
}

.kw
{
	color: blue;
}

.com
{
	color: green;
}

.str
{
	color: #008B8B;
}

.lineQuote
{
	color: #338822;
}

.tagline
{
	color: #A52A2A;
	text-indent: 5mm;
	padding-top: 5mm;
}

TABLE.formatter
  { 
    margin:5px;
  }

TD.formatter
  { font-family: verdana,tahoma;
    background-color:#F4F4F4; 
    font-size:x-small;
  }       

TH.formatter
  {
    font-family: verdana,tahoma;
    background-color:#D4D4D4; 
    font-size:x-small;
  }

H1.formatter
  { font-family: arial ;
    font-size:large;            
    font-weight:bolder;
    text-align:center;
    color:#4580A0; }
              
H2.formatter
  { font-family: verdana,tahoma ;
    font-size:large;            
    font-weight:lighter;
    font-variant:small-caps;
    text-align:left;
    color:#4580A0; }
        
H3.formatter
  { font-family: tahoma,verdana ;
    font-size:small;            
    font-weight:bold;            
    text-align:left;
    color:#4580A0; }
       
H4.formatter
  { font-family: tahoma,verdana ;
    font-size:x-small;            
    margin-left:0.1em;
    font-weight:bold;            
    text-align:left;
    color:#4580A0; }
                      
H5.formatter
  { font-family: tahoma,verdana ;
    font-size:x-small;                                    
    text-align:right;  
    font-weight:bold; }
              
H6.formatter
  { font-family: tahoma,verdana ;
    font-size:x-small;                                    
    text-align:right;          
    font-weight:lighter; }

tt
{
  font-size: 12px;
  background-color: #EEEEEE;
}