﻿/*
2005.01.29

Стиль настроек для Януса, задуман для оформления всего, отличного по виду
от сайта. Чтобы цвета и пр. стилевые атрибуты не хардкорить в коде, но
хардкорить селекторы. :o)
*/
body
{
		border-style: none;
		background-color: white;
		color: black;
		font-family: verdana, tahoma, helvetica, arial;
/*		margin: 2px;*/
		padding: 0px 0px;
		font-size: 12px;
}
.himg
{
		width: 16px;
		height: 16px;
		vertical-align: middle;
		border-width: 0px;
}
.header
{
		font-family: verdana, tahoma, helvetica, arial;
		background-color: #FFFFF4;
		font-size: x-small;
		text-align: left;
		padding: 1px 5px;
}
.outdate
{
/*		font-family: verdana, tahoma, helvetica, arial;
		background-color: #FFFFF4;
		padding: 1px 5px; */
		color: Gray;
}
.normaldate
{
		color: Black;
}
/* Тело форм с информацией */
.ibody
{
		border-style: none;
		background-color: white;
		color: black;
		font-family: verdana, tahoma, helvetica, arial;
		padding: 5px 5px;
		font-size: 12px;
}
/* Тело сообщения с ошибкой */
.ebody
{
		border-style: none;
		background-color: White;
		color: black;
		font-family: verdana, tahoma, helvetica, arial;
		margin: 10px;
		padding: 5px 5px;
		font-size: x-small;
}
/* Подпись для страницы с ошибкой */
.etail
{
		color: black;
		font-family: verdana, tahoma, helvetica, arial;
		font-size: xx-small;
		font-style: italic;
}
/* Трассировка стека для страницы с ошибкой */
.etrace
{
		color: black;
		background-color: #EEEEEE;
		font-family: verdana, tahoma, helvetica, arial;
		font-size: small;
}
/* Панель оценок */
.smallrate
{
		font-family: verdana, tahoma, helvetica, arial;
		font-size: xx-small;
		margin: 1px;
}
.normalrate
{
		font-family: verdana, tahoma, helvetica, arial;
		font-size: x-small;
}
.hdr
{
		background-color: #E0F0E0;
/*		font-size: xx-small;*/
		text-align: center;
}
.even
{
		background-color: #F4FFF4;
/*		font-size: xx-small;*/
}
.uneven
{
		background-color: #E4FFF4;
/*		font-size: xx-small;*/
}
.nimg
{
		vertical-align: middle;
		border-width: 0px;
}
.ralign
{
		text-align: right;
}
.bold
{
		font-weight:bold;
}
/* Таблица карточки пользователя  */
.utable
{
		font-family: verdana, tahoma, helvetica, arial;
		font-size: x-small;
		background-color: #cfe5f0;
}
/* Неподписанные форумы в статистике  */
.frmuns
{
		color: maroon;
}
